.course-card {
  display: inline-block;
  width: 240px;
  height: 280px;
  box-shadow: 1px 3px 10px black;
  border-radius: 10px;
  overflow: hidden;
  /* margin-right: 10px;
  margin-bottom: 20px; */
  margin: 0 10px 20px 0;
}

.course-card-image {
  width: 100%;
}

.course-card-main {
  padding: 8px 10px;
}

.course-card-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.course-card-instructor {
  color: #999;
  font-size: 12px;
  margin-bottom: 5px;
}

.course-card-rating {
  color: gold;
}

.course-card-price {
  font-size: 18px;
  font-weight: bold;
}

.course-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test {
  color: black;
}
